---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { ROUTES, SITE_DESCRIPTION } from "@/consts";

import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="pt-br" class="is-theme-dark">
  <head>
    <BaseHead title="Blog Posts!" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <ul class="container">
        {
          posts.map((post) => (
            <li>
              <a href={`${ROUTES.blog}${post.slug}/`}>
                <h3 class="title">{post.data.title}</h3>
                <p class="time">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <p>{post.data.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>

<style>
  .time {
    font-size: 0.875rem;
    &:not(:last-child) {
      margin-block-end: 4px;
    }
  }

  .title {
    position: relative;
    letter-spacing: 1.25px;
    font-size: 1.75rem;
    font-weight:;
    color: light-dark(var(--color-light-pink-100), var(--color-dark-pink-100));

    &:not(:last-child) {
      margin-block-end: 4px;
    }
  }

  ul {
    list-style: none;

    a {
      text-decoration: none;
    }

    li {
      &:not(:last-child) {
        margin-block-end: 64px;
      }

      &:where(:hover) {
        .title {
          text-decoration: underline;
        }
      }
    }
  }
</style>
