---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import content from "@/constants/career.json";

import { SITE_DESCRIPTION } from "../consts";
---

<html lang="pt-br" class="is-theme-dark">
  <head>
    <BaseHead
      title="Minha career | Renan Girotto"
      description={SITE_DESCRIPTION}
      image=""
    />
  </head>

  <body>
    <Header />
    <main>
      <section class="container">
        <ul class="list-jobs">
          {
            content.map((job) => (
              <li>
                <p>{job.year}</p>
                <h3>{job.company}</h3>
                <h4>{job.role}</h4>
                <ul>
                  {job.achievements.map((item) => (
                    <li>{item}</li>
                  ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>

<style>
  .list-jobs {
    list-style: none;
    margin-block-start: 40px;
    font-size: 1.125rem;
    line-height: 2;

    h3 {
      font-size: 2rem;
      color: light-dark(
        var(--color-light-pink-100),
        var(--color-dark-pink-100)
      );
    }

    h4 {
      font-size: 1.25rem;
    }

    > li {
      &:not(:last-child) {
        margin-block-end: 72px;
      }
    }

    strong {
      font-weight: 700;
    }

    ul {
      padding-inline-start: 24px;
      margin-block: 24px;

      > li {
        &:not(:last-child) {
          margin-block-end: 12px;
        }
      }
    }
  }
</style>
